<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>You recently updated you password <%= @user.username %>,</h2>
    <p>If you did not effect this change, kindly head over to the site and reset your password.</p> 
    <footer>with Love from Keli </footer>
  </body>
</html>